#quote-page {
    position: relative;
    overflow: hidden;
    padding: 10px;
    background: url('../../assets/pages-bg.jpg');
    width: 100vw;
    min-height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(49 49 49);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 1px 1px 2px lightgrey;
    text-align: center;
    font-weight: bold;
}