#quote-page {
    position: relative;
    overflow: hidden;
    padding: 10px;
    background: url('../../assets/pages-bg.jpg');
    width: 100vw;
    min-height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}