.table {
    margin: 0 auto;
    border: 2px solid darkgray;
    width: 85%;
    text-align: center;
}

caption {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 1px 1px 2px lightgrey;
}
