.quote-history-container {
    /* border: 1px solid red; */
}

/* .table {
    margin: auto;
    width: 50%;
    border: 1px solid black;
} */
    
/* caption {
    background: black;
    color: white;
} */