h1 {
    color: rgb(49 49 49);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 1px 1px 2px lightgrey;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
    margin-bottom: 0px;
}