#home {
    position: relative;
    overflow: hidden;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
    top: 130px;
    /* background: rgba(0, 0, 0, 0.3); */
}

#home-background {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 90vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-blend-mode:darken;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.btn-group {
    /* border: 1px solid blue; */
    margin-top: 75px;
}

#rate-btn {
    background-color: rgb(187, 196, 226);
    border: none;
    border-radius: 24px;
    /* font-family: 'Akaya Kanadaka'; */
    font-family: 'Playfair Display', serif;
    /* font-family: "Helvetica Neue",sans-serif; */
    color: rgb(34, 29, 29);
    font-weight: bolder;
    padding: 2.5px 24px;
    margin-bottom: 6%;
    font-size: 25px;
    letter-spacing: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    width: auto;
    max-width: 500px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

#rate-btn:hover {
    /* width: 1em; */
    max-width: 700px;
    box-shadow: 5px 5px 10px #888888;
}

#arrow-icon {
    display: none;
    visibility: hidden;
}

#rate-btn:hover > #arrow-icon {
    display: inline;
    visibility: visible;
}