#profile {
  position: relative;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  background: url('../../assets/pages-bg.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}