#quote-page {
    position: relative;
    overflow: hidden;
    /* border: 2px solid red; */
    padding: 10px;
    top: 10vh;
}

#bgImage {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
}

h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 1px 1px 2px lightgrey;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 11px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: none;
}

textarea {
    text-align: center;
    word-wrap: soft;
    background-color: #d4d6d8b4;
    overflow: auto;
}

input:focus,
textarea:focus
{
    border: 2px solid #7a7a7a;
}

textarea:hover {
    transition: all 0.3s ease;
}

input:hover {
    transition: all 0.3s ease;
    background-color: #ffffffdb;
}

button {
    color: black;
    border-radius: 30px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: #bbc4e2;
    font-size: 15px;
    font-weight: bold;
    border: #99aae3;
    transition: all .5s;
    width: 100%;
}

button:hover {
    background-color: #95aee4;
}

button:disabled {
    background-color: lightgrey;
    color: darkgrey;
}

.container {
    align-self: center;
    box-shadow: 0px 0px 10px darkgrey;
    background-color: #e6e9edcc;
    overflow: hidden;
    margin-bottom: auto;
    margin-right: 10px; 
    margin-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.container:hover {
    box-shadow: 2px 2px 15px rgb(89, 89, 89);
    transition: all .2s;
}

.form-container {
    text-align: center;
    display: flex;
    width: 55%;
    margin: auto;
    padding: 5px;
}

.label {
    padding: 11px 11px 11px 0;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}